* {
  box-sizing: border-box;
}

.rug__list {
  display: flex;
  flex-wrap: wrap; //이미지 줄바꿈으로 내리기
  justify-content: center;
  gap: 13px; // 이미지 사이 중간 갭주기
}

img {
  width: 100%;
}

.categoryBar {
  width: 100%;
  text-align: right;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #868686;
  padding-right: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  span {
    margin-right: 10px;
  }
}
