.RugImageCard {
  width: 47%; //이미지는 두개로 묶고 양쪽 사이 갭주기
  .rug__list {
    //네스팅
    width: 100%;
    display: flex;
    overflow: hidden;
  }
}

.rug__item {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  overflow: hidden;
  width: 100%;
}

.img__wrapper {
  height: 60vh;
  overflow: hidden;
}

.rug__img {
  width: 100%;
  height: 100%;
}

.rug__img:hover {
  cursor: pointer;
}

.pop__cart {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.781);
  top: 78%;
  width: 100%;
  padding: 13px 0;
  &:hover {
    background-color: black;
    cursor: pointer;
    color: white;
    display: block;
  }
}

.get__in__cart {
  font-size: 12.5px;
  text-align: center;
}

// .pop__cart:hover {
//   background-color: black;
//   cursor: pointer;
//   color: white;
//   display: block;
// }

.rug__name {
  padding-top: 10px;
}
.rug__price {
  padding-top: 15px;
  padding-bottom: 18px;
}

.rug__info {
  margin-top: 1%;
  font-size: 14px;
}

.rug__name:hover {
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}
