.RugImageCard {
  width: 50%; //이미지 두개씩 뜨게하고 싶으니까 50%로 주기
  li {
    //네스팅
    display: flex;
    overflow: hidden;
  }
}

.rug-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
  overflow: hidden;
  img {
    width: 100%;
    padding: 1%;
  }
}

.rug-price {
  padding-top: 15px;
}

.rug-info {
  font-size: 15px;
}

.rug-name:hover {
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}
