.main {
  font-family: Arial, ZH-Sans, 'Lucida Sans Unicode', sans-serif, 'icomoon';
  .content-container {
    display: flex;
    justify-content: center;

    .image-section {
      img {
        min-width: 700px;
        cursor: zoom-in;
      }
    }

    .content-section {
      display: inline-block;
      padding: 4rem;

      .sticky {
        position: sticky;
        top: -3rem;
      }
      .header-box {
        margin-top: 4rem;
        .product-name {
          font-size: 1.5rem;
        }
        .product-price {
          display: block;
          margin-top: 1rem;
        }
        .product-number {
          display: block;
          font-size: 0.7rem;
          margin-top: 1rem;
        }
        .product-description {
          display: block;
          margin-top: 1.3rem;
        }
      }

      .action-block {
        top: 0;
        overflow: hidden;
        .size-header {
          display: block;
          margin-top: 1rem;
          padding: 1.2rem 0.5rem;
          color: #86868a;
          border-bottom: 1px solid black;
        }
        .size-detail {
          display: flex;
          justify-content: space-between;
          padding: 1.2rem 0.5rem;
          border-bottom: 1px solid black;

          .size {
            font-weight: bold;
          }
          .icon {
            font-size: 1.2rem;
          }
        }

        // Action-box Transition
        .size {
          transition: 0.5s;
          transition-delay: 1s;
          // background-color: yellow;
        }
        .size-header span {
          transition: 0.5s;
          transition-delay: 1s;
        }
        .icon {
          position: absolute;
          padding: 0.1rem;
          left: 0.5rem;
          top: 13rem;
          color: transparent;
          transition: 0s;
        }
        .slide:hover {
          .size-header span {
            margin-left: 2rem;
            transition-delay: 0s;
          }
          .size {
            margin-left: 2rem;
            transition-delay: 0s;
          }
          .size-detail:hover {
            .icon {
              color: #86868a;
              transition: 0.5s;
              :hover {
                // size: 34px;
                cursor: pointer;
                color: black;
              }
            }
          }
        }

        .add-cart {
          margin: 3rem 0;
          text-align: center;
          font-size: 0.7rem;
          cursor: pointer;
          transition: 0.3s;
          // background-color: black;
          border: 1px solid black;

          .add-cart-text {
            display: block;
            padding: 1rem;
            background-color: yellow;
          }

          :hover {
            background-color: black;
            // color: white;
          }
          // .add-cart {
          //   height: 100%;
          //   padding: 0.8rem;
          // }
        }

        //추천상품
        .recommend-item-box {
          .recommend-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            font-size: 1rem;
            .button-box {
              .button-left {
                margin: 0.8rem;
                padding: 0.3rem 0.7rem;
                border: 1px solid black;
                cursor: pointer;
                color: white;
                background-color: black;
              }
              .button-right {
                padding: 0.3rem 0.7rem;
                border: 1px solid black;
                cursor: pointer;
                color: white;
                background-color: black;
              }
            }
          }
          .recommend-card-box {
            display: flex;
            justify-content: flex-start;
            box-sizing: border-box;
            overflow: hidden;
            // background-color: yellow;
          }
          .recommend-body {
            // background-color: blue;
            margin-right: 0.6rem;
            min-width: 200px;
            .image-box {
              // background-color: yellow;
              margin-right: 1rem;
              // width: 13rem;
              // height: 18rem;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
            .description-box {
              padding: 0.8rem 0.5rem;
              font-size: 0.8rem;
              span {
                display: block;
                margin-bottom: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

.detail-footer {
  font-family: Arial, ZH-Sans, 'Lucida Sans Unicode', sans-serif, 'icomoon';
  text-align: center;
  line-height: 1.2rem;
  font-size: 11px;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px dotted #ccc;
  span {
    display: inline-block;
    margin-right: 6px;
  }
  .bold {
    font-weight: bold;
    margin-right: 4px;
  }
}

@keyframes slide-right {
  0% {
    left: 0;
  }
  50% {
    left: 5rem;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-left {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 30px;
    top: 0px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
