@mixin prettybutton {
  border: none;
  background-color: inherit;
  position: absolute;
}

.ProductCard {
  width: 24%;
  padding-bottom: 30px;
  margin-bottom: 50px;
  margin-right: 20px;

  .img_box {
    position: relative;

    img {
      width: 100%;
    }
    .heart {
      @include prettybutton();
      right: 45px;
    }
    .delete {
      @include prettybutton();
      right: 10px;
    }
  }
  .text_box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    .product_detail {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      .price {
        margin: 15px 0px;
      }
      .size,
      .id {
        font-size: 12px;
        color: #c9c9cc;
      }
    }
    .count_box {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border: none;
        background-color: inherit;
        font-size: 24px;
      }
      .count {
        width: 25px;
        height: 25px;
        font-size: 12px;
        border-radius: 50%;
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
